%h3.page-title
  我的邮箱地址
%p.light
  您
  %b 主要邮箱地址
  将用于虚拟形象的检测和基于网络的操作，诸如编辑和合并。
  %br
  你
  %b 通知邮箱地址
  将用于帐户通知。
  %br
  所有的电子邮件地址将被用来识别您的提交。

%hr

.panel.panel-default
  .panel-heading
    邮箱 (#{@emails.count + 1})
  %ul.well-list#emails-table
    %li
      %strong= @primary
      %span.label.label-success 主邮箱地址
    - @emails.each do |email|
      %li
        %strong= email.email
        %span.cgray
          添加 #{time_ago_with_tooltip(email.created_at)}
        = link_to '删除', profile_email_path(email), data: { confirm: '您确定吗?'}, method: :delete, class: 'btn btn-small btn-remove pull-right'

%h4 添加邮箱地址
= form_for 'email', url: profile_emails_path, html: { class: 'form-horizontal' } do |f|
  .form-group
    = f.label :email, class: 'control-label'
    .col-sm-10
      = f.text_field :email, class: 'form-control'
  .form-actions
    = f.submit '添加', class: 'btn btn-create'
