= render "projects/commits/head"

%h3.page-title
  比较视图

= render "form"

- if @commits.present?
  = render "projects/commits/commit_list"
  = render "projects/diffs/diffs", diffs: @diffs, project: @project
- else
  .light-well
    .center
      %h4
        没有任何比较。
      %p.slead
        - if params[:to] == params[:from]
          %span.label-branch #{params[:from]}
          和
          %span.label-branch #{params[:to]}
          是相同的。
        - else
          你需要使用不同的分支名称以获得有效的比较。
