%h3.page-title 设置新的密码
%hr
= form_for @user, url: profile_password_path, method: :post, html: { class: 'form-horizontal '} do |f|
  %p.slead
    请继续之前设置新的密码。
    %br
    一个成功的密码更新后，您会被重定向到登录界面。
  -if @user.errors.any?
    .alert.alert-danger
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  
  - unless @user.password_automatically_set?
    .form-group
      = f.label :current_password, '当前密码',class: 'control-label'
      .col-sm-10= f.password_field :current_password, required: true, class: 'form-control'
  .form-group
    = f.label :password, '新的密码', class: 'control-label'
    .col-sm-10= f.password_field :password, required: true, class: 'form-control'
  .form-group
    = f.label :password_confirmation, '再次确认', class: 'control-label'
    .col-sm-10
      = f.password_field :password_confirmation, required: true, class: 'form-control'
  .form-actions
    = f.submit '设置新的密码', class: "btn btn-create"
