= render 'nav'
.row
  .col-sm-6
    %h3.page-title
      Git的访问
      %strong= @project_wiki.path_with_namespace

  .col-sm-6
    = render "shared/clone_panel", project: @project_wiki

.git-empty
  %fieldset
    %legend 安装咕噜:
    %pre.dark
      :preserve
        gem install gollum

    %legend 克隆你的wiki:
    %pre.dark
      :preserve
        git clone #{ content_tag(:span, default_url_to_repo(@project_wiki), class: 'clone')}
        cd #{@project_wiki.path}

    %legend 开始咕噜和编辑本地:
    %pre.dark
      :preserve
        gollum
        == Sinatra/1.3.5 has taken the stage on 4567 for development with backup from Thin
        >> 薄型Web服务器 (v1.5.0 codename Knife)
        >> 设置最大连接数 1024
        >> Listening on 0.0.0.0:4567, CTRL+C to stop
