- page_title = '浏览'
!!! 5
%html{ lang: "zh-CN"}
  = render "layouts/head", title: page_title
  %body{class: "#{app_theme} #{theme_type} application", :'data-page' => body_data_page}
    = render "layouts/broadcast"
    - if current_user
      = render "layouts/head_panel", title: link_to(page_title, explore_root_path)
    - else
      = render "layouts/public_head_panel", title: link_to(page_title, explore_root_path)
    .container.navless-container
      .content
        .explore-title
          %h3
            浏览 GitUse
          %p.lead
            查看项目和群组。与他人分享您的项目


        %ul.nav.nav-tabs
          = nav_link(path: 'projects#trending') do
            = link_to '趋势项目', explore_root_path
          = nav_link(path: 'projects#starred') do
            = link_to '星标项目', starred_explore_projects_path
          = nav_link(path: 'projects#index') do
            = link_to '所有项目', explore_projects_path
          = nav_link(controller: :groups) do
            = link_to '所有群组', explore_groups_path

        = yield
